@import '~styles/flex_box.scss';
@import '~styles/variables';
.single-pages {
  position: relative;
  line-height: 0;
  img {
    display: block;
  }
  .bottom-btn {
    left: 0px;
    width: 100vw;
    padding: 10px 0px;
    box-shadow: 0 0 0 0 #d9d9d9;
    display: flex;
    z-index: 5;
    .join-btn {
      background: #e85c40;
      border-radius: 2px;
      height: 44px;
      line-height: 44px;
      color: #fff;
      font-size: 14px;
      letter-spacing: 0.6px;
      text-align: center;
      flex: 1;
      margin-right: 15px;
      margin-left: 15px;
    }
  }
}
