@import '~styles/flex_box.scss';

.coupon-success {
  .success-box {
    text-align: center;
    .success-icon {
      margin-top: flex_pt(110);
      width: flex_pt(302.5);
      margin-bottom: flex_pt(12);
    }
    .success-tips {
      font-size: 15px;
      color: #5e5e5e;
      letter-spacing: 1px;
      text-align: center;
    }
    .success-btn {
      background: #e85c40;
      border-radius: 2px;
      width: flex_pt(200);
      height: flex_pt(48);
      display: inline-block;
      line-height: flex_pt(48);
      color: #fff;
      margin-top: flex_pt(32);
    }
    .success-text {
      font-size: 14px;
      color: #989898;
      letter-spacing: 0.6px;
      margin-top: flex_pt(52);
    }
  }
  .fail-box {
    text-align: center;
    .fail-icon {
      margin-top: flex_pt(110);
      width: flex_pt(76);
      margin-bottom: flex_pt(15);
    }
    .fail-tips {
      font-size: 15px;
      color: #5e5e5e;
      letter-spacing: 1px;
      text-align: center;
    }
    .fail-text {
      margin-top: flex_pt(8);
      font-size: 12px;
      color: #989898;
      letter-spacing: 0.4px;
      text-align: center;
    }
    .fail-btn {
      margin-top: flex_pt(32);
      border: 1px solid #b2b2af;
      border-radius: 2px;
      width: flex_pt(200);
      height: flex_pt(48);
      display: inline-block;
      line-height: flex_pt(48);
      font-size: 14px;
      color: #242424;
      letter-spacing: 0.6px;
    }
  }
}
