@import 'src/assets/stylesheets/variables';
@import 'src/assets/stylesheets/mixins/buttons';

.selectable-button-container {
  text-align:center;

  
  .btn.btn-selectable {
    @include button-selectable(inherit);
    height: inherit;
    width: inherit;
    line-height: normal;
    padding: 7px 18px;
    margin: 8px 6px;

    &:hover {
      color: $black;
      background-color: transparent;
      border-color: $mid-gray;
    }

    &.selected {
      color: $white;
      background-color: $tote-tracker-bar-orange;
      border-color: $tote-tracker-bar-orange;
    }
  }
}

.multi-select-container {
  text-align: center;

  div {
    font-family: $raleway;
    font-size: 10px;
    // font-weight: bold;
    line-height: 1.67;
    letter-spacing: 1.6px;
    text-align: center;
    // color: $black;
    border-radius: 0;
    min-width: 25%;
  }
  &> div:first-child {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-left: 1px solid $mid-gray;
  }
  &> div:nth-child(2) {
    border-right:none;
    border-left:none;
  }
  &> div:last-child {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-right: 1px solid $mid-gray;
  }
  .btn {
    border-color: $mid-gray;
  }
  div.active {
    background-color: $tote-tracker-bar-orange;
    border-color: $tote-tracker-bar-orange;

    div {
      color: $white;
    }
  }
}
