// @import './bootstrap/bootstrap';
// @import './bootstrap/functions';
// @import './bootstrap/variables';
@import './colors';

$proxima: "Proxima-Nova", sans-serif;
$proxima-light: "ProximaNova-Light", sans-serif;
$proxima-semibold: "ProximaNova-Semibold", sans-serif;
$proxima-bold: "ProximaNova-Bold", sans-serif;

$vh-to-px: 6.5px;
$nav-bar-height: 9 * $vh-to-px;
$onboarding-transition-time: 350ms;
//NOTE:all.scss have use chinese font-family
$raleway: "Raleway", sans-serif;
$playfair: "Playfair", "PlayfairDisplay", serif;
$brand-primary: #e85c40;

$mobile-breakpoint: 768px;
$tiny-mobile-breakpoint: 320px; // iphone 5 / se

$toggle-pdp-appearance-animation-duration: 0.5s;

*{
  margin: 0px;
  padding: 0px;
}
